.chat-header {
  height: 5%;
  display: flex;
  align-items: center;
}
.chat-display {
  height: 85%;
  border: 0.5px solid;
  flex: 1;
}
.chat-box {
  background: white;
  margin: auto;
  padding: 0 15px 15px 15px;
  width: 100%;
}
